@using Learning.Shared.DbModels
@using Syncfusion.Blazor.RichTextEditor
@using Learning.Shared.DataTransferModel
@inject Learning.Client.Services.ISlideDeckService SlideDeckService
@inject Learning.Client.Services.IVideoService  VideoService
@inject ISnackbar Snackbar

<MudPaper Elevation="3">
    @*<MudText Typo="Typo.h6">Page: (@Index)</MudText>*@
    <MudText Typo="Typo.subtitle1">Description</MudText>
    <SfRichTextEditor @bind-Value="Slide.TextContent">
        <RichTextEditorToolbarSettings Items="@Tools" Type="ToolbarType.MultiRow" />
    </SfRichTextEditor>
    <MudSelect T="string" Label="Video" ValueChanged="SelectedVideo">
        @if (Videos != null) {
            foreach (var video in Videos) {
                <MudSelectItem Value="@(video.DisplayName)" />
            }
        }
    </MudSelect>
    @if (!string.IsNullOrWhiteSpace(Slide.VideoUrl)) {
        <BlazoredVideo @ref="MyBlazorVideo" class="w-100"
                       style="max-width:400px;"
                       controls="controls">
            <source src="@Slide.VideoUrl" type="video/mp4" />
        </BlazoredVideo>
    }
    <MudSelect T="string" Label="Image" ValueChanged="SelectedImage">
        @if (Images != null) {
            foreach (var image in Images) {
                <MudSelectItem Value="@(image.DisplayName)" />
            }
        }
    </MudSelect>
    @if (!string.IsNullOrWhiteSpace(Slide.ImageUrl)) {
        <div>
            <img src="@Slide.ImageUrl" class="width:100%;" />

        </div>
    }
    <InputFile id="fileInputslide" OnChange="UploadFiles" hidden multiple />
    <MudFab HtmlTag="label"
            Color="Color.Success"
            Icon="@Filled.AttachFile"
            for="fileInputslide" />
    <MudIconButton Icon="@Icons.Material.Delete" OnClick="@(() => OnDelete.InvokeAsync(Slide))"></MudIconButton>
</MudPaper>

@code {
    [Parameter]
    public Slide Slide { get; set; }
    [Parameter]
    public List<Media> Videos { get; set; }
    [Parameter]
    public List<Media> Images { get; set; }
    [Parameter]
    public int Index { get; set; }
    [Parameter]
    public EventCallback<Slide> OnDelete { get; set; }

    private string SlideTextValue = string.Empty;
    private string SlideVideoUrlValue = string.Empty;

    BlazoredVideo MyBlazorVideo;

    private List<ToolbarItemModel> Tools = new List<ToolbarItemModel>()
{
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.StrikeThrough },

        new ToolbarItemModel() { Command = ToolbarCommand.FontSize },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.FontColor },
        new ToolbarItemModel() { Command = ToolbarCommand.BackgroundColor },
    };

    public void SelectedVideo(string value) {
        var video = Videos.FirstOrDefault(v => v.DisplayName == value);
        SlideVideoUrlValue = video.FullFileName;
        Slide.VideoUrl = video.FullFileName;
        //MyBlazorVideo.StalledReloadControl();
        //MyBlazorVideo.ReloadControl();
        //await JSRuntime.InvokeVoidAsync("Blazored.invoke", "MyBlazorVideo", "pause");


        // TODO : chaning video after first selection doesn't work. waiting for update on library

    }
    public void SelectedImage(string value) {
        var image = Images.FirstOrDefault(v => v.DisplayName == value);
        //SlideVideoUrlValue = video.FullFileName;
        Slide.ImageUrl = image.FullFileName;
        //MyBlazorVideo.StalledReloadControl();
        //MyBlazorVideo.ReloadControl();
        //await JSRuntime.InvokeVoidAsync("Blazored.invoke", "MyBlazorVideo", "pause");


        // TODO : chaning video after first selection doesn't work. waiting for update on library

    }
    private async Task UploadFiles(InputFileChangeEventArgs e) {
        foreach (var file in e.GetMultipleFiles(1)) {
            var stream = file.OpenReadStream();
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);
            stream.Close();

            FileUpload uploadedFile = new FileUpload();
            uploadedFile.FileName = file.Name;
            uploadedFile.FileContent = buffer.ToArray();


            var response = await SlideDeckService.UploadImage(uploadedFile);
            if (response.Success) {
                Slide.ImageUrl = response.Data.FullFileName;
            }
        }
        //TODO upload the files to the server
    }
}
