@using Learning.Shared.DbModels
@using Learning.Shared.Models

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudPaper Elevation="3" Class="pa-2 mx-2">
            <MudText Typo="Typo.h6">SlideDeckProgram</MudText>
            <MudTextField @bind-Value="SlideDeckProgram.Title" Label="Title" Variant="Variant.Text"></MudTextField>
            <MudTextField @bind-Value="SlideDeckProgram.Description" Label="Description" Variant="Variant.Text" Lines="5"></MudTextField>
            @if (!string.IsNullOrWhiteSpace(SlideDeckProgram.CoverImage)) {
                <div>
                    <img src="@SlideDeckProgram.CoverImage" class="width:100%;" />

                </div>
            }
            <InputFile id="fileInput" OnChange="SetCoverImage" hidden multiple />
            <MudFab HtmlTag="label"
                    Color="Color.Secondary"
                    Icon="@Filled.Image"
                    Label="Load Cover Image"
                    for="fileInput" />

            <MudFab Color="Color.Secondary" Icon="@Icons.Material.Add" Size="Size.Small" OnClick="AddEntry" />
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
            @if (SlideDeckProgram.Entries != null) {
                @foreach (var entry in SlideDeckProgram.Entries) {
                    <MudPaper Elevation="3" Class="pa-5 mx-2 blue-grey lighten 4">
                        <Learning.Client.Components.EditSlideDeckProgramEntry Entry="entry" AvailableSlideDecks="AvailableSlideDecks" OnDelete="DeleteEntry"></Learning.Client.Components.EditSlideDeckProgramEntry>
                    </MudPaper>

                }
            }
    </MudItem>
    <MudItem xs="12">
            <MudPaper Elevation="3" Class="pa-5 mx-2">
                <MudSelect T="string" Label="Access Level" Value="@SlideDeckProgram.AccessLevel.ToString()" ValueChanged="SelectedSlideDeckAccessLevel">
                    <MudSelectItem Value="@("All")" />
                    <MudSelectItem Value="@("Premium")" />
                    <MudSelectItem Value="@("Free")" />
                </MudSelect>
                <MudSwitch @bind-Checked="@Label_Switch2" Label="Is published" Color="Color.Primary" />
                <MudSwitch @bind-Checked="@Label_Switch3" Label="Is deleted" Color="Color.Primary" />
                <MudIconButton Icon="@Icons.Material.Save" OnClick="(() => OnSave.InvokeAsync(SlideDeckProgram))"></MudIconButton>
            </MudPaper>
    </MudItem>


    
</MudGrid>
@code {
    [Parameter]
    public SlideDeckProgram SlideDeckProgram { get; set; }

    [Parameter]
    public EventCallback<SlideDeckProgram> OnSave { get; set; }
    [Parameter]
    public List<SlideDeck> AvailableSlideDecks { get; set; }
    public bool Label_Switch2 {
        get {
            return SlideDeckProgram.IsPublished;
        }
        set {
            if (value) {
                SlideDeckProgram.Published = DateTime.UtcNow;
            } else {
                SlideDeckProgram.Published = DateTime.MinValue;
            }
        }
    }
    public bool Label_Switch3 {
        get {
            return SlideDeckProgram.IsDeleted;
        }
        set {
            SlideDeckProgram.IsDeleted = value;
        }
    }
    void SelectedSlideDeckAccessLevel(string value) {
        SlideDeckProgram.AccessLevel = (Enums.AccessLevel)Enum.Parse(typeof(Enums.AccessLevel), value);
        //Entry.SlideDeckId = Entry.SlideDeck.Id;

    }
    public void AddEntry(MouseEventArgs e) {
        SlideDeckProgram.Entries.Add(new SlideDeckProgramEntry());
    }
    void DeleteEntry(SlideDeckProgramEntry entry) {
        foreach (var s in SlideDeckProgram.Entries) {
            Console.WriteLine(entry == s);
        }
        SlideDeckProgram.Entries.Remove(entry);
    }
    private async Task SetCoverImage(InputFileChangeEventArgs e) {
        var maxAllowedFiles = 1;
        var format = "image/png";

        foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles)) {
            var resizedImageFile = await imageFile.RequestImageFileAsync(format,
                100, 100);
            //await OnSubmit(imageFile);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            var imageDataUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            SlideDeckProgram.CoverImage = imageDataUrl;
        }
    }
}
