@page "/admin/usersList"
<h3>UsersListPage</h3>
@inject Learning.Client.Services.IUserService UsersService
@inject Learning.Client.Services.ISlideDeckProgramService SlideDeckProgramService
@inject Learning.Client.Services.IUserAccessSlideDeckProgramService UserAccessSlideDeckProgramService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@using Learning.Shared.DbModels

@if (Users != null) {
    <MudTable Items="@Users" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Title</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Page count</MudTh>
            <MudTh>AccessLevel</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd><MudButton OnClick="@(() => OpenOverlay(context.Email))">View</MudButton></MudTd>
            <MudTd><MudButton OnClick="@(() => NavigationManager.NavigateTo($"editSlideDeck/{context.Id}"))">Edit</MudButton></MudTd>

        </RowTemplate>
    </MudTable>
}
<MudOverlay Visible="isVisible" DarkBackground="true">
    <MudPaper>
        <MudText Typo="Typo.body2">@Name</MudText>
        <MudTable Items="@OverlayUser.UserAvatars" Hover="true" Breakpoint="Breakpoint.Sm">
            <HeaderContent>
                <MudTh>Title</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Assigned Programs</MudTh>
                <MudTh>AccessLevel</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Id</MudTd>
                <MudTd>@context.Name</MudTd>
                <MudTd>
                    @if (UserAccessList != null) {
                        foreach (var slideDeck in UserAccessList) {
                            <MudSelectItem Value="@(slideDeck.SlideDeckProgram.Title)" />
                        }
                    }
                </MudTd>
                <MudTd><MudButton OnClick="@(() => NavigationManager.NavigateTo($"editSlideDeck/{context.Id}"))">Edit</MudButton></MudTd>

            </RowTemplate>
        </MudTable>
        <MudSelect T="string" Label="SlideDecksPublished" ValueChanged="SelectedSlideDeck">
            @if (SlideDeckPrograms != null) {
                foreach (var slideDeck in SlideDeckPrograms) {
                    <MudSelectItem Value="@(slideDeck.Title)" />
                }
            }
        </MudSelect>
        <MudButton OnClick="@(() => OpenOverlay(""))">** Close **></MudButton>
    </MudPaper>

</MudOverlay>
@code {
    bool isVisible = false;
    string Name;

    List<User> Users;
    List<SlideDeckProgram> SlideDeckPrograms;
    User OverlayUser;
    List<UserAccessSlideDeckProgram> UserAccessList;

    protected override async Task OnInitializedAsync() {
        var r = await UsersService.GetAll();
        if (r.Success) {
            Users = r.Data;
        } else {
            Snackbar.Add($"Could not get publushed. Error: {r.Message}", Severity.Error);
        }

        var r2 = await SlideDeckProgramService.GetPublished();
        if (r2.Success) {
            SlideDeckPrograms = r2.Data;
        } else {
            Snackbar.Add($"Could not get publushed. Error: {r.Message}", Severity.Error);
        }




    }
    public async void OpenOverlay(string name) {
        OverlayUser = Users.First(x => x.Email == name);
        var r3 = await UserAccessSlideDeckProgramService.GetViaUser(OverlayUser.Id);
        if (r3.Success) {
            UserAccessList = r3.Data;
        } else {
            Snackbar.Add($"Could not get publushed. Error: {r3.Message}", Severity.Error);
        }

        Name = name;
        isVisible = !isVisible;

        await Task.Delay(0);
    }

    public void SelectedSlideDeck(string value) {
        //OverlayUser.SlideDeckPrograms.First(x => x.Title == value);
        //Entry.SlideDeckId = Entry.SlideDeck.Id;

    }
}
